<!DOCTYPE html>
<html>
  <head>
    <title>Nodejs App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>First Try</h1>
    <ul>
        <p><li><a href="/login">Login</a> </li></p>
        <p><li><a href="/register">Register</a> </li></p>

    </ul>
  </body>
</html>
