<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>PORTAL</h1>

<h2>WELCOME <%=  userinfo.fullname  %> </h2>

<a href="/logout">LOGOUT</a>
</body>
</html>
