<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>REGISTER</h1>
    <form method="post" action="/register">
        <p>Username : <input type="text" name="username"></p>
        <p>Your name : <input type="text" name="fullname"></p>
        <p>password: <input type="password" name="password"></p>

        <input type="submit" value="REGISTER">
    </form>

</body>
</html>
